    <div class="foot" style="width: 100%; border-top: solid grey 1px; opacity: 0.7;">
      {% if page.collection %}
        {% assign mycol = site.collections | where: "label", page.collection  %}
        {% assign relative_path = mycol[0].directory | replace: site.source, ""  %}
        <h6> <center>Improve this document: <a href="{{ site.github.repository_url }}/edit/master{{ relative_path }}/../{{ page.path }}">Edit on github!</a></center> </h6>
      {% else %}
        <h6> <center>Improve this document: <a href="{{ site.github.repository_url }}/edit/master/{{ page.path }}">Edit on github!</a></center> </h6>
      {% endif %}
    </div>
