<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
<div class="container">
  <a class="navbar-brand js-scroll-trigger" href="/#page-top">BeoLiving</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="/#Essential">Essential</a>
      </li>
<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          PRO
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/#PRO">PRO Details</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/bli-guides/bli-pro-user-guide/">Complete User Guide</a>
          <a class="dropdown-item" href="/bli-guides/manuals/howto-lua-macros/index">Lua Macros Guide</a>
          <a class="dropdown-item" href="/bli-guides/ideas/">Integration Ideas: How-To Guides</a>
          <a class="dropdown-item" href="/bli-guides/bli-remote-support-specialist.html">Remote Support Specialist</a>
          <a class="dropdown-item" target="_blank" href="https://rise.articulate.com/share/tLKzK6yv60sTjCUvhZstA-_vusQrFsPa">
            B&O Online Training  <i class="fa fa-video-camera"></i> 
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/help_drivers/">Supported Systems and Drivers</a>

          <!--
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/bli-guides/developers-guides/">Driver development </a>
          -->
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="/bli-guides/bli-faq.html">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="/#contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="/search.html"><i class="fa fa-search"></i></a>
      </li>
    </ul>
  </div>
</div>
</nav>



