    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>


    <!-- Custom Theme JavaScript -->
    <script src="/js/creative.js"></script>



    <script src="//cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.0/anchor.min.js"></script>
    <script>
(function () {
'use strict';

anchors.options.placement = 'left';

anchors.add('.pagecontent  h2, .pagecontent  h3, .pagecontent h4, .pagecontent > h5, .pagecontent > h6');

})();
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.0/anchor.min.js"></script>
<script>
(function () {
  'use strict';

  anchors.options.placement = 'left';

  anchors.add('.pagecontent  h2, .pagecontent  h3, .pagecontent h4, .pagecontent > h5, .pagecontent > h6');

})();
</script>
