
//- Google Fonts
$font-google-primary: 'https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap';
$font-google-secondary: 'https://fonts.googleapis.com/css2?family=Montserrat&display=swap';

//- @type List
$abril-fatface: 'Abril Fatface', cursive;
$montserrat: 'Montserrat', sans-serif;

//- Typography
$base-font-family: $montserrat;
$heading-font-family: $abril-fatface;


body {
    background-color: $body-background-color;
    font-family: $base-font-family;
    line-height: 1.5;
}

h1, h2, h3 ,h4 ,h5 {
    font-family: $heading-font-family;
}



/* As we have a fixed navbar on top just add so padding so we are sure that the text is visible when accessed from anchor link */
.pagecontent h1, .pagecontent h2,
#content h1, #content h2
{
  padding-top:50px;
}

.pagecontent h2
{
	border-bottom: solid 3px #fd7e14;
	padding-bottom: .5rem;
}

.pagecontent h3
{
	border-bottom: solid 1px #fd7e14;
	padding-bottom: .5rem;
	padding-top:40px;
}

.pagecontent h4
{
  padding-top:20px;
}

blockquote {
    margin: 0 0 1rem;
    font-style: italic;
    color: darkgray;
    border-left: 4px solid lightgrey;
    padding: 2px 1ex;
}

blockquote p { 
  margin-bottom:0;
}

dd {
  border-left: 1px solid #ddd;
  margin-left: 2em;
  margin-bottom: 1em;
  padding: 0 0.5em;
  color: #555;
}

dt:before {
  content: "";
  display: block;
}
dt, dd {
  display: inline;
}
dt {
    font-family: $heading-font-family;
}


