
/* As we have a fixed navbar on top just add so padding so we are sure that the text is visible when accessed from anchor link */
.pagecontent h1, .pagecontent h2,
#content h1, #content h2
{
  padding-top:50px;
}

.pagecontent h2
{
	border-bottom: solid 3px #fd7e14;
	padding-bottom: .5rem;
}

.pagecontent h3
{
	border-bottom: solid 1px #fd7e14;
	padding-bottom: .5rem;
	padding-top:40px;
}

.pagecontent h4
{
  padding-top:20px;
}

blockquote {
    margin: 0 0 1rem;
    font-style: italic;
    color: darkgray;
    border-left: 4px solid lightgrey;
    padding: 2px 1ex;
}

blockquote p { 
  margin-bottom:0;
}

dd {
  border-left: 1px solid #eee;
  margin-left: 2em;
  margin-bottom: 1em;
  padding: 0 0.5;
  color: #555;
}
